
.contianer{
    /* border-width:5px; 
    border-style: dashed;
    border-color: blue; */

    /* border shortcut */
    /* border-top:5px dashed #4f0101;
    border-left:5px dashed rgb(247, 13, 114);
    border-right:5px dashed rgb(7, 7, 210);
    border-bottom:5px dashed rgb(7, 217, 10); */

    /* border redius */
    /* border-radius: 20px; */
    border-radius: 40px 0px 40px 0px;


    /* for same padding to all border */
    /* border: 3px solid;
    padding: 40px;
     */
}

 
/* how to remove border from child element  */
 
/* p{
    border: none;
} */


/* padding property */

.contianer{

    border:2px solid;
    padding-top: 10px;
    padding-right: 60px;
    /* padding-bottom: 30px; */
    padding-left: 200px;
    

    /* shortcut for padding to apply all box */
    /* padding: 40px; */

    /* we will write this in clock wise style i mean first (top,left,bottom,right) */
    
    /* padding: 10px 20px 30px 40px; */
     
    /* padding: 20px 10px; */

}
.circle{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50px;
    margin-left: 500px;
    background-image: url(6dfs.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.contianer{
    /* margin property */
    /* margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-right: 20px; */

    /* shortcut for all  */

    /* margin: 50px; */


    /* margin: 20px 40px; */
 
    /* clock wise (top,right,bottom,left) */
    margin: 10px 20px 30px 40px;


}
.responsive{
    border: 2px solid;
    height: 100px;
    /* width: 200px; */
    /* maximum  */
    max-height: 100px;
    /* minimum */
    min-height:200px;

    


}